@import 'normalize.css';
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@300;400;500;600;700&display=swap');

:root {
    --default-layout-header-height: 60px;
    --default-layout-width: 1150px;
    --primary-color: #fe2c55;
    --white-color: #ffff;
    --black-color: #000;
    --text-color: #333;
}

html {
    font-size: 62.5%;
}
body {
    font-family: 'IBM Plex Sans', sans-serif;
    font-size: 1.6rem;
    line-height: 1.5;
    text-rendering: optimizeSpeed;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
button,
input {
    outline: none;
    border: none;
}
a[href] {
    color: var(--text-color);
}
