.menu-list {
    width: 223px;
    margin-top: -15px;
    padding: 8px 0px;
    .wrapper-menu-item {
        display: inline-flex;
        justify-self: start;
        margin-left: 0px;
        width: 100%;
        padding: 10px 16px;
        font-size: 1.6rem;
        font-weight: 400;
        border-radius: 0;
    }
}
//wrapper menu item
.wrapper-menu-item {
    &:hover {
        background: rgba(22, 24, 35, 0.03);
    }
}
//Header
.wrapper-header {
    display: flex;
    height: 50px;
    margin-top: -8px;
    position: relative;
}
.header-icon-back {
    display: inline-block;
    background-color: transparent;
    width: 50px;
    height: 100%;
    cursor: pointer;
}
.header-title {
    position: absolute;
    top: 50%;
    left: 50%;
    line-height: 22px;
    font-size: 1.6rem;
    transform: translate(-50%, -50%);
}
.separate {
    border-top: 1px solid rgba(22, 24, 35, 0.12);
}
